test {
  háttér: # fafad2;
  betűtípus-család: futár;
  szín: paradicsom;
}
img {
  szélesség: 400 képpont;
  szegély: 4x szoros paradicsom;
}
ul {
  listastílus-típus: négyzet;
}
hr {
  magasság: 2 képpont;
  határ: nincs;
  háttér szín: paradicsom;
}