body {
  arrière-plan: # fafad2;
  font-family: messager;
  couleur: tomate;
}
img {
  width: 400px;
  bordure: tomate solide 4px;
}
ul {
  list-style-type: square;
}
hr {
  height: 2px;
  bordure: aucune;
  couleur de fond: tomate;
}